@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .pricenewbtn {
  display: none;
  position: absolute;
}
header .pricenewbtn2 {
  display: none;
  position: absolute;
  left: 500px;
}
header .buttonMore {
  border: none;
  background: none;
}
header .headerBtns {
  height: 100%;
}
header .headerBtns button {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  padding: 0 16px;
  border: none;
  background: white;
  height: 100%;
  font-weight: 400;
}
header button:hover {
  background: #efefef;
}
header .phoneNumber {
  color: #EE2523;
  font-weight: 600;
  font-size: 16px;
}
header .pricenewbtnHover:hover + .pricenewbtn, header .pricenewbtn:hover {
  display: block;
  height: 50px;
  z-index: 30;
}
header .pricenewbtnHover:hover + .pricenewbtn2, header .pricenewbtn2:hover {
  display: block;
  left: 1200px;
  height: 50px;
  z-index: 30;
}
.showBar {
  position: absolute;
  z-index: 22;
  top: 64px;
  right: 0;
  display: flex !important;
  flex-direction: column;
  height: 250px !important;
}

.cover {
  width: 100%;
  height: 413px;
  align-items: center;
  justify-content: space-between;
}
.cover button {
  background: #EE2523;
  color: white;
  border: 1px solid #EE2523;
  border-radius: 8px;
  height: 50px;
  width: 290px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
}
.cover .coverText {
  display: flex;
  background: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(246, 246, 246));
  align-items: center;
  height: 413px;
  position: absolute;
  padding-left: 240px;
  z-index: 20;
}
.cover .coverText h1 {
  font-size: 50px;
  line-height: 65px;
}
.cover .coverBackground {
  position: relative;
  left: 0;
  float: right;
  z-index: 0;
}
.cover .coverBackground img {
  height: 413px;
  width: 100%;
  object-fit: cover;
  float: right;
}

.services {
  margin-top: 64.8px !important;
}
.services .cards {
  display: grid;
  width: 100%;
  justify-content: space-between;
  column-gap: 60px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(330px, auto));
  margin-top: 40px;
}
.services .card {
  display: grid;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1215686275);
  justify-content: center;
  height: fit-content;
  grid-template-rows: 275px auto;
  padding: 40px 30px 47px 30px;
}
.services .card h2 {
  margin-bottom: 10px;
  line-height: 36px;
}
.services .card img {
  width: 100%;
  height: 250px;
}
.services .card .checkMoreDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .card .checkMoreDisplay button {
  background: #EE2523;
  color: white;
  border: 1px solid #EE2523;
  border-radius: 8px;
  height: 48px;
  width: 180px;
  font-size: 16px;
}
.services .card .priceDispaly {
  display: flex;
  align-items: center;
}
.services .card .priceDispaly .price {
  font-size: 50px;
  font-weight: 500;
}
.services .card .priceDispaly .currency {
  font-size: 16px;
}
.services .description {
  min-height: 80px;
  font-size: 16px !important;
}
.services h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
}

.payServices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #EE2523;
  color: white;
  border: 1px solid #EE2523;
  border-radius: 8px 0 0 8px;
  position: fixed;
  top: 542px;
  right: 0;
  width: 216px;
  height: 86px;
  font-size: 16px;
}

@media (max-width: 1920px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
  .other {
    width: 25%;
    display: none;
  }
}
@media (max-width: 1440px) {
  .pricenewbtn {
    display: block;
    width: 150px;
    float: right;
    left: -150px;
    height: 50px;
  }
  .pricenewbtn button {
    width: 100%;
  }
  .pricenewbtn2 {
    position: absolute;
    top: 150px;
    display: block;
    width: 150px;
    left: -150px !important;
    height: 50px;
  }
  .pricenewbtn2 button {
    width: 100%;
  }
  .container {
    width: 95%;
    min-width: 768px;
  }
  .other {
    display: flex;
    justify-content: space-between;
  }
  .headerBtns {
    display: none;
  }
  .phoneNumber {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .payServices {
    height: 50px;
  }
  .coverText {
    padding-left: 20px !important;
  }
  .servicespay {
    display: none;
  }
  .container {
    max-width: 500px;
    width: 100%;
    min-width: 200px;
  }
  .other {
    display: flex;
    justify-content: space-between;
  }
  .headerBtns {
    display: none;
  }
  .phoneNumber {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 95%;
    min-width: 480px;
  }
  .coverText {
    padding-left: 50px !important;
  }
  .other {
    display: flex;
    justify-content: space-between;
  }
  .headerBtns {
    display: none;
  }
  .phoneNumber {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
